@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Enriqueta', serif !important;
}

.home{
  background: linear-gradient(90deg, rgba(232, 34, 34, 0.6), #000000b3), url('./assets/images/bg-3.png');
  height: calc(100vh - 65px);
  background-size: cover;
}

.signup .cover{
  display: block;
  height: 500px;
  background-image: url('./assets/images/b1.jpeg');
  background-size: cover;
}